{% extends "index.html" %}
{% load static %}

{% block content %}
<h3 class="text-center">Регистрация</h3>
<div class="card m-2 p-2">
    <div class="card-body text-center">
        <p>Ваша почта{% if is_valid %} была {% else %} не {% endif %}верифицирована</p>
        <p>{{ message }}</p>
        {% if is_valid %}
            <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'users:login' %}">Вход в систему</a>
        {% else %}
            <p>Возможно вам стоит обратиться в тех. поддержку</p>
        {% endif %}
    </div>
</div>
{% endblock content %}