{% load static %}

<h3 class="text-center">Регистрация</h3>
<div class="card mt-2 pt-2">
    <form class=" d-flex justify-content-center mb-4 p-2" action="{% url 'users:reg' %}" method="post">

        <div class="d-flex flex-column align-items-start" style="width: 600px;">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% endif %}

            <label class="form-label" for="id_username">{{ form.username.label }}</label>
            <input class="form-control" type="text" name="username" autofocus="true" required {% if value.username %}value="{{ value.username }}"{% endif %} id="id_username">

            <label class="form-label mt-2" for="id_email">{{ form.email.label }}</label>
            <input class="form-control" type="email" name="email" maxlength="254" {% if value.email %}value="{{ value.email }}"{% endif %} id="id_email">

            <label class="form-label mt-2" for="id_first_name">{{ form.first_name.label }}</label>
            <input class="form-control" type="text" name="first_name" maxlength="150" {% if value.first_name %}value="{{ value.first_name }}"{% endif %} id="id_first_name">

            <label class="form-label mt-2" for="id_last_name">{{ form.last_name.label }}</label>
            <input class="form-control" type="text" name="last_name" maxlength="150" {% if value.last_name %}value="{{ value.last_name }}"{% endif %} id="id_last_name">

            <label class="form-label mt-2" for="id_password1">{{ form.password1.label }}</label>
            <input class="form-control" type="password" name="password1" required id="id_password1">
            
            <label class="form-label mt-2" for="id_password2">{{ form.password2.label }}</label>
            <input class="form-control" type="password" name="password2" required id="id_password2">

            <button class="btn mt-2 border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);" type="submit">Регистрация</button>
        </div>
    </form>
</div>