{% load static %}
{% load countries %}

<h3 class="text-center">Регистрация</h3>
<div class="card mt-2 p-2">
    <form class="d-flex justify-content-center mb-4 p-2" action="{% url 'users:reg' %}" method="post">
        {% csrf_token %}

        <div class="g-3 row">
            <input type="hidden" name="next" value="{{ next }}" />

            {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="col-md-6 align-content-around">
                <div class="form-floating">
                    <input class="form-control" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} type="text" name="username" placeholder="{{ form.username.label }}" autofocus="true" required {% if value.username %}value="{{ value.username }}"{% endif %} id="id_username">
                    <label class="form-label text-secondary" for="id_username">{{ form.username.label }}</label>
                </div>
                <div class="form-error">{{ form.username.errors }}</div>
    
                <div class="form-floating mt-2">
                    <input class="form-control" type="email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} name="email" placeholder="{{ form.email.label }}" maxlength="254" {% if value.email %}value="{{ value.email }}"{% endif %} id="id_email">
                    <label class="form-label text-secondary" for="id_email">{{ form.email.label }}</label>
                </div>
                <div class="form-error">{{ form.email.errors }}</div>
    
                <div class="input-group mt-2">
                    {{ form.phone }}
                </div>
                <div class="form-error">{{ form.phone.errors }}</div>
    
                <div class="form-floating mt-2">
                    <select class="form-select form-select-sm" name="country" id="id_country">
                        <option value selected>{% if form.country.value %}{{form.country.value}}{% else %}Выберете страну{% endif %}</option>
                        {% get_countries as countries %}
                        {% for country in countries %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}   
                    </select>
                    <label class="form-label" for="id_country">{{ form.country.label }}</label>
                </div>
                <div class="form-error">{{ form.country.errors }}</div>
            </div>

            <div class="col-md-6 align-content-around">
                <div class="form-floating mt-2">
                    <input class="form-control" type="text" {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %} placeholder="{{ form.first_name.label }}" name="first_name" maxlength="150" {% if value.first_name %}value="{{ value.first_name }}"{% endif %} id="id_first_name">
                    <label class="form-label text-secondary" for="id_first_name">{{ form.first_name.label }}</label>
                </div>
                <div class="form-error">{{ form.first_name.errors }}</div>
    
                <div class="form-floating mt-2">
                    <input class="form-control" type="text" {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %} placeholder="{{ form.last_name.label }}" name="last_name" maxlength="150" {% if value.last_name %}value="{{ value.last_name }}"{% endif %} id="id_last_name">
                    <label class="form-label text-secondary" for="id_last_name">{{ form.last_name.label }}</label>
                </div>
                <div class="form-error">{{ form.last_name.errors }}</div>
    
                <div class="form-floating mt-2">
                    <input class="form-control" type="password" placeholder="{{ form.password1.label }}" name="password1" required id="id_password1">
                    <label class="form-label text-secondary" for="id_password1">{{ form.password1.label }}</label>
                </div>
                <div class="form-error">{{ form.password1.errors }}</div>
                
                <div class="form-floating mt-2">
                    <input class="form-control" type="password" placeholder="{{ form.password2.label }}" name="password2" required id="id_password2">
                    <label class="form-label text-secondary" for="id_password2">{{ form.password2.label }}</label>
                </div>
                <div class="form-error">{{ form.password2.errors }}</div>    
            </div>
            <div class="col-md-12">
                <button class="btn mt-2 border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);" type="submit">Регистрация</button>
            </div>
        </div>
    </form>
    {{ form.phone. }}
</div>