{% load static %}

<h3 class="p-2">
    Личный кабинет пользователя
</h3>
<div class="card m-1 p-2">
    <div class="card-body p-3 card_big_style">
        <div class="my-3 card_big_images">
                {% if current_user.image %}
                <img src="{{ current_user.image.url }}" class="d-block w-auto card-style-image" alt="{{ current_user.username }}">
                {% else %}
                <img src="{% static 'images/image not found.jpeg' %}" class="d-block w-auto card-style-image" alt="{{ current_user.username }}">
                {% endif %}
        </div>
        <div style="grid-area: spec-brand">
          <div class="d-flex justify-content-between">
            <div>
              <p style="line-height: .9375rem; font-size: .8125rem; font-weight: 700;">Имя пользователя: <strong>{{ current_user.username }}</strong></p>
              <p style="font-size: .80rem; line-height: .6875rem;">Дата регистрации: {{ current_user.date_joined }}</p>
            </div>
          </div>
        </div>
        <div style="font-size: .80rem; line-height: 1.250rem; grid-area:stat;">Эмеил: {% if current_user.email_user %}{{ current_user.email_user }}{% else %} не указан{% endif %}</div>
        <div style="font-size: .80rem; line-height: 1.250rem; grid-area:info;">Имя: {% if current_user.get_short_name %}{{ current_user.get_short_name }}{% else %} не указан{% endif %}</div>
        <div style="font-size: .80rem; line-height: 1.250rem; grid-area:buy">Фамилия: {% if current_user.last_name %}{{ current_user.last_name }}{% else %} не указан{% endif %}</div>

    </div>
    

</div>