{% extends "base/index.html" %}
{% load static %}

{% block content %}

<div class='card m-0 p-2'>
    <div class='card-body p-0'>
        <h3>Техно-Новости</h3>
        <div class="position-absolute" style="top: 10px; right: 10px;" >
            <a class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);" href="{% url 'news:addpost' %}">Добавить статью</a>
        </div>
        {% for post in posts %}
        {% include "includes/news/post_prew.html" %}
        {% endfor %}
        {% include 'includes/catalog/paginate.html' %}
    </div>
    
</div>

{% endblock content %}