{% load static %}
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: rgb(238, 238, 238);">

    <div class="container-fluid">

      <a class="navbar-brand" href="/">{{ name }}</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% for item in nav_list %}
          <li class="nav-item">

            <a class="nav-link 
              {% if item.pk == cat_selected %} active 
              {% endif %} 
              {% if item.url == 'user' %} position-absolute top-50 translate-middle 
              {% elif item.url == 'login' %} position-absolute top-50 translate-middle 
              {% endif %}" 
              {% if item.url == 'user' %} style="left: 89%;" 
              {% elif item.url == 'login' %} style="left: 95%;" 
              {% endif %} 
              aria-current="page" href="{{ item.get_absolute_url }}">{{ item.category }}
            </a>

          </li>
          {% endfor %}
          
          <span class="navbar-text position-absolute top-50 start-50 translate-middle">{{ title }}</span>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-2">
        <form role="search" class="d-flex offset-8 col-4">
            <input class="form-control me-2" type="search" placeholder="{{ mask_search }}" aria-label="Search">
            <button class="btn status-button" style="border-color: rgb(0, 173, 181);" type="submit">{{ button }}</button>
        </form>
  </div>
