<h7 class="ps-2">{{ title }}</h7>
<div class="d-flex flex-colunm justify-content-evenly mt-2 pe-3">
    <div>
        <span>{{ email }}</span>
        <a class="link-underline link-underline-opacity-0" href='email:{{ email_value }}' style="color: rgb(0, 173, 181);">{{ email_value }}</a>
    </div>
    <div>
        <span>{{ tel }}</span>
        <a class="link-underline link-underline-opacity-0" href="tel:{{ tel_value }}" style="color: rgb(0, 173, 181);">{{ tel_value }}</a>
    </div>
    <div>
        <span>{{ fax }}</span>
        <a class="link-underline link-underline-opacity-0" href="fax:{{ fax_value }}" style="color: rgb(0, 173, 181);">{{ fax_value }}</a>
    </div>