{% load static %}

<h3>{% if post %}Изменение статьи{% else %}Добавление статьи{% endif %}</h3>
<div class="card bg-body-tertiary mt-4 p-2" style="border-radius: 8px; box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">
    <form action="{% if post %}{% url 'news:updatepost' post.slug %}{% else %}{% url 'news:addpost' %}{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p class="mb-3">
            <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
        </p>
        {% endfor %}
        <button class="btn btn-secondary ms-2">{% if post %}Сохранить{% else %}Создать{% endif %}</button>
        <a href="{% if post %}{% url 'news:post' post.slug %}{% else %}{% url 'news:posts' %}{% endif %}" class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Отменить</a>
    </form> 
</div>