{% load static %}

{% if post.is_published %}
<div class="card bg-body-tertiary mt-4 p-2" style="border-radius: 8px; box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);" >

<div>
    <span style="display: flex;">
        <span>
            <div class="d-flex">
                <a href="#" class="posts-comment-image-link me-2">
                    <div style="height: 24px; width: 24px;">
                        {% if post.image_user %}
                        <img src="{{ post.image_user.url }}" style="border-radius: 3px; display: block; overflow: hidden; height: 24px; width: 24px;" alt="{{ comment.description }}">
                        {% else %}
                        <img src="{% static 'images/image not found.jpeg' %}" style="border-radius: 3px; display: block; overflow: hidden; height: 24px; width: 24px;" alt="{{ comment.description }}">
                        {% endif %}
                    </div>
                </a>
                <h2 style="white-space: nowrap; font-size: .8125rem; font-weight: 700; line-height: 25px;" >{{ post.name_user.get_username }}</h2>
            </div>
            <div style="display: flex;"> 
                <a href="{% url 'news:post' post.slug %}" class="link-underline link-underline-opacity-0 text-black" style="margin-right: 8px">
                    <div style="font-size: .8125rem; font-weight: 500; line-height: .9375rem;">
                        {% if post.is_edit %}
                        Было Изменено: {{ post.time_edit }}
                        {% else %}
                        Опубликованно: {{ post.time_published }}
                        {% endif %}
                    </div>
                </a>
                <span style="display: flex; align-items: center; height: 1em;">
                    <span style="font-size: .8125rem; font-weight: 700; line-height: 1;">Количество просмотров:</span>
                    <span style="margin-left: 2px; font-size: .8125rem; font-weight: 700; line-height: 1;">{{ post.views }}</span>
                </span>
            </div>
        </span>
    </span>
</div>
<div style="margin-top: 18px;">
    <h6 class="card-title" style="font-size: 15px;">{{ post.title }}</h6>
</div>
<div style="max-height: none; padding: 8px 0; position: relative;">
    <div style="font-size: 1rem; line-height: 1.56; overflow-wrap: break-word;">
        <a href="{% url 'news:post' post.slug %}" style="margin: 0; text-align: center;">
            {% if post.image %}
            <img src="{{ post.image.url }}" style="cursor: pointer; max-width: 100%; height: auto; vertical-align: middle; overflow: hidden;" alt="{{ post.title }}">
            {% else %}
            <img src="{% static 'images/image not found.jpeg' %}" style="cursor: pointer; max-width: 100%; height: auto; vertical-align: middle;" alt="{{ post.title }}">
            {% endif %}
        </a>
        <p style="margin-top: 12px; font-size: 1rem; line-height: 1.56;">{{ post.description|linebreaks|truncatewords:50 }}</p>
        </div>
</div>
<div style="padding-top: 8px; border-top: 1px solid transparent; display: flex; justify-content: flex-start; width: 100%;">
    <div style="margin-right: 8px;">
        Лайки: {{ post.likes }}
    </div>
    <div>
        <a class="link-underline link-underline-opacity-0 text-black" href="{% url 'news:post' post.slug %}">Комментарии: {{ post.comment_count }}</a>
    </div>
</div>
</div>
{% endif %}