{% load static %}
{% load tags_filter %}

<div>
    <div class="d-flex justify-content-between">
        <h3>Каталог товаров</h3>
        {% if user.is_authenticated %}
                <div>
                  <a href="{% url 'catalog:create' %}" class="btn btn-secondary">Добавить товар</a>
                </div>
        {% endif %}
    </div>
    <div class="category-body mt-2">
        {% for catalog in categories %}
            <div class="category-body-card">
                <div class="category-body-content">
                    <div class="category-body-image">
                        {% if catalog.image %}
                        <img src="{{ catalog.image.url }}" class="category-image" alt="{{ catalog.category }}">
                        {% else %}
                        <img src="{% static 'images/image not found.jpeg' %}" class="category-image" alt="{{ catalog.category }}">
                        {% endif %}
                    </div>
                    <span class="category-body-title">{{ catalog }}</span>
                </div>
                <div class="category-body-card-back">
                    <ul class="category-body-card-back-list">
                        <li class="first-child category-body-card-back-item">
                            <a href="{{ catalog.get_absolute_url }}?order=all" class="first-child category-body-card-back-item link-underline link-underline-opacity-0 text-black">{{ catalog }}</a>
                        </li>
                        {% if catalog.category == 'Прочее' %}
                            {% for subcategory in list_subcategories %}
                                <li class="category-body-card-back-item ">
                                    <a href="{% url 'catalog:catalog' %}" class="category-body-card-back-item link-underline link-underline-opacity-0 text-black">
                                        {{ subcategory.sub_category }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for item in companies|filter_query:catalog.category %}
                                <li class="category-body-card-back-item ">
                                    <a href="{{ catalog.get_absolute_url }}?comp={{item.url}}&order=all" class="category-body-card-back-item link-underline link-underline-opacity-0 text-black">
                                        {{ item.company }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>