{% load crispy_forms_tags %}

<form action="{% if product_edit %}{% else %}{% url 'catalog:create' %}{% endif %}" enctype="multipart/form-data" method="post">
    <h4>Товар</h4>
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <p>
        <label class="form-label" for="id_name">Имя товара*</label>
        <input class="form-control form-control-sm" type="text" name="name" maxlength="100" id="id_name" {% if product_edit %}value="{{ product_edit.name }}"{% else %}{% if form.name.value %}value="{{ form.name.value }}"{% endif %}{% endif %} {% if moderator %}readonly{% endif %} required>
        <div class="form-error">{{ form.name.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_descriptions">Описание*</label>
        <textarea class="form-control form-control-sm" name="descriptions" cols="40" rows="10" id="id_descriptions">{% if product_edit %}{{ product_edit.descriptions }}{% else %}{% if form.descriptions.value %}{{ form.descriptions.value }}"{% endif %}{% endif %}</textarea>
        <div class="form-error">{{ form.descriptions.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_image_item">Изображение</label>
        {% if product_edit.image_item %}
            <div class="form-check form-switch">
                <span>На данный момент:</span>
                <a href="{{ product_edit.image_item.url }}">
                    {{ product_edit.image_item.url }}
                </a>
                <input class="form-check-input" type="checkbox" name="image-clear" {% if moderator %}disabled{% endif %} id="image-clear_id">
                <label class="form-check-label" for="image-clear_id">Очистить</label>
                <br>
                <span>Изменить:</span>
            </div>
            {% endif %}
        <input class="form-control form-control-sm" type="file" name="image_item" accept="image/*" {% if moderator %}disabled{% endif %} id="id_image_item">
        <div class="form-error">{{ form.image_item.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_company">Компания:*</label>
        <select class="form-select form-select-sm" name="company" id="id_company" {% if moderator %}disabled{% endif %} required>
            {% for company in form.company %}
                {{ company }}
            {% endfor %}
        </select>
        <div class="form-error">{{ form.company.errors }}</div>
    </p>
    {% if moderator %}
        <input type="text" hidden name="company" id="id_company" value="{{ product_edit.company.company }}">
    {% endif %}
    <p>
        <label class="form-label" for="id_category">Категория:*</label>
        <select class="form-select form-select-sm" name="category" id="id_category" required>
            {% for category in form.category %}
                {{ category }}
            {% endfor %}    
            
        </select>
        <div class="form-error">{{ form.category.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_discount">Скидка в %</label>
        <input class="form-control form-control-sm" type="number" name="discount" {% if product_edit %}value="{{ product_edit.discount|floatformat:0 }}"{% else %}{% if form.discount.value %}value="{{ form.discount.value|floatformat:0 }}"{% else %}value="0"{% endif %}{% endif %}  step="any" required {% if moderator %}readonly{% endif %} id="id_discount">
        <div class="form-error">{{ form.discount.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_price">Цена*</label>
        <input class="form-control form-control-sm" type="number" name="price" {% if product_edit %}value="{{ product_edit.price|floatformat:0 }}"{% else %}{% if form.price.value %}value="{{ form.price.value|floatformat:0 }}"{% else %}value="0"{% endif %}{% endif %}  step="any" required {% if moderator %}readonly{% endif %} step="0.01" required {% if moderator %}readonly{% endif %} id="id_price">
        <div class="form-error">{{ form.price.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_quantity">Количество*</label>
        <input class="form-control form-control-sm" type="number" name="quantity" {% if product_edit %}value="{{ product_edit.quantity }}"{% else %}{% if form.quantity.value %}value="{{ form.quantity.value }}"{% else %}value="0"{% endif %}{% endif %} required {% if moderator %}readonly{% endif %} id="id_quantity">
        <div class="form-error">{{ form.quantity.errors }}</div>
    </p>
    <p>
        <label class="form-label" for="id_discontinued">Статус продажи</label>
        <select name="discontinued" id="id_discontinued" class="form-select form-select-sm">
            <option value="{% if product_edit %}{{ product_edit.discontinued }}{% else %}0{% endif %}" selected>{% if not product_edit.discontinued %}В продаже{% else %}Снято с продажи{% endif %}</option>
            {% if not product_edit.discontinued %}
            <option value="1">Снято с продажи</option>
            {% else %}
            <option value="0">В продаже</option>
            {% endif %}
          </select>
    </p>
    <div class="card p-2 my-3">
        <h4>Версии OS для товара</h4>
        {{ os_versions.management_form }}
        {{ os_versions.non_form_errors }}
        {% for form in os_versions %}
        {{ form.id }}
        <div class="card-body">
            {{ form.os_number.errors }}
            {{ form.os_number.label_tag }}
            {{ form.os_number }}
            {{ form.os_name.errors }}
            {{ form.os_name.label_tag }}
            {{ form.os_name }}
            {{ form.actual_os.errors }}
            {{ form.actual_os.label_tag }}
            {{ form.actual_os }}
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-secondary">{% if product_edit %}Изменить{% else %}Добавить{% endif %}</button>
            <a {% if not product_edit %}href="{% url 'catalog:catalog' %}"{% else %}href="{% url 'catalog:product' product_edit.url %}"{% endif %}class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Отменить</a>
        </div>
    </div>
   
</form>
