{% load static %}
<footer class="p-4 mt-5 d-flex justify-content-around flex-wrap" style="background-color: rgb(238, 238, 238); width: 100%;">
    <div class="d-flex flex-column">
        <span>Компания</span>
        <div>
            <a class="link-underline link-underline-opacity-0" href="/" style="font-size: 10px; color: rgb(57, 62, 70);">О нас</a>
            <a class="link-underline link-underline-opacity-0" href="/" style="font-size: 10px; color: rgb(57, 62, 70);">Команда</a>
            <a class="link-underline link-underline-opacity-0" href="/" style="font-size: 10px; color: rgb(57, 62, 70);">Правила</a>
        </div>
    </div>
    <a class="fs-6 link-underline link-underline-opacity-0" href="/policy">Политика конфидециальности</a>
</footer>