{% load static %}
{% load tags_filter %}
<ul class="list-group list-group-flush">
    
    {% for category in categories %}
        <li class="list-group-item">

            <a class="btn p-0 dropdown-toggle" href="#{{category.url}}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls={{category.url}}>
                {{category.category}}
            </a>

            <div class="collapse" id={{category.url}}>

                {% if category.category == 'Прочее' %}

                    {% for subcategory in list_subcategories %}
                    <a class="btn p-0 d-flex flex-column text-start" role="button" href="{% url 'catalog' %}" role="button" style="font-size: small;">
                        {{ subcategory.sub_category }}
                    </a>
                    {% endfor %}

                {% else %}

                    {% for company in companies|filter_query:category.category %}
                        <a class="btn p-0 d-flex flex-column text-start" role="button" href="{% url 'catalog' %}" role="button" style="font-size: small;">
                            {{ company.company }}
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
