{% load static %}
<ul class='row p-0 justify-content-evenly'>
{% for item in list_items %}
<a href="/1/" class="card col-1 m-1 pt-2 link-underline link-underline-opacity-0" style="width: 12rem; row-grap: 10px; background-color: rgb(238, 238, 238);">
  {% if item.price != item.sale %}
  <div class="position-absolute border text-center" style="left: -0.7px; width: 50px; background-color: rgb(0, 173, 181);">{{item.procent}}%</div>
  {% endif %}
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column justify-content-between">
      <h6 class="card-title" style="font-size: 15px;">{{item.name}}</h6>
      <div>
        {% if item.price != item.sale %}
        <span>{{item.sale}}</span><br>
        <span class="text-secondary text-decoration-line-through">{{item.price}}</span>
        {% else %}
        <span>{{item.price}}</span>
        {% endif %}
      </div>
      <button type="button" class="btn text-white" style="background-color: rgb(57, 62, 70);">Подробнее</button>
    </div>
</a>
{% endfor %}
</ul>  