{% extends "index.html" %}
{% load static %}

{% block content %}
<h3 class="text-center">Восстановление пароля</h3>
<div class="card m-2 p-2">
    <div class="card-body text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-4">
                <button class="btn btn-secondary ms-2" type="submit">Восстановить</button>
                <a href="{% url 'users:login' %}" class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Отменить</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}