{% extends "index.html" %}
{% load static %}

{% block content %}
<h3 class="text-center">Восстановление пароля</h3>
<div class="card m-2 p-2">
    <div class="card-title">
        <h7 style="line-height: .9375rem; font-size: .8125rem; font-weight: 700;">Если вы забыли пароль есть возможность его восстановить посредством отправки ссылки на ваш почтовый ящик</h7>
    </div>
    <div class="card-body text-center">
        <form class="offset-3 col-md-6" action="{% if is_temporary %}{% url 'users:verify_temporary' %}{% else %}{% url 'users:password_reset' %}{% endif %}" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="form-floating mt-2">
                <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required= id="id_email">
                <label class="form-label text-secondary" for="id_email">Адрес электронной почты:</label>
            </div>
            <div class="form-error">{{ form.email.errors }}</div>

            <div class="mt-4">
                <button class="btn btn-secondary ms-2" type="submit">Отправить</button>
                <a href="{% url 'users:login' %}" class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Отменить</a>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <p><strong style="line-height: .9375rem; font-size: .8125rem; font-weight: 700;">На указанный Эмеил будет отправлено письмо с ссылкой на восстановление</strong></p>
        <p><strong style="line-height: .9375rem; font-size: .8125rem; font-weight: 700;">Пожалуйста не забывайте пароль и не говорите его не кому</strong></p>
    </div>
</div>
{% endblock content %}
