{% extends "index.html" %}
{% load static %}

{% block content %}
<h3 class="text-center">Изменение пароля</h3>
<div class="card m-2 p-2">
    <div class="card-body text-center">
        <form class="offset-3 col-md-6" action="{% url 'users:password_change' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form-error">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="form-floating mt-2">
                <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                <label class="form-label" for="id_old_password">Старый пароль:</label>
            </div>
            <div class="form-error">{{ form.old_password.errors }}</div>

            <div class="form-floating mt-2">
                <input class="form-control" type="password" name="new_password1" autocomplete="new-password" autofocus required id="id_new_password1" aria-describedby="id_new_password1_helptext">
                <label class="form-label" for="id_new_password1">Новый пароль:</label>
            </div>
            <span class="helptext" id="id_new_password1_helptext"></span>
            <div class="form-error">{{ form.new_password1.errors }}</div>

            <div class="form-floating mt-2">
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" autofocus required id="id_new_password2">
                <label class="form-label" for="id_new_password2">Подтверждение нового пароля:</label>
            </div>
            <div class="form-error">{{ form.new_password2.errors }}</div>

            <div class="mt-4">
                <button class="btn btn-secondary ms-2" type="submit">Сохранить</button>
                <a href="{% url 'users:user' request.user.username %}" class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Отменить</a>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <ul>
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль не должен быть слишком простым и распространенным.</li>
            <li>Пароль не может состоять только из цифр.</li>
        </ul>
    </div>
</div>
{% endblock content %}