{% extends "includes/index.html" %}
{% load static %}
{% block content %}

<div class="card m-0 pt-2">
    <h3 class="ps-3">Товары со скидками</h3>
    {% include "includes/list_sale.html" %}
    <a class="btn text-center text-white rounded-2" style="background-color: rgb(57, 62, 70);" href="/catalog/">Еще предложения</a>
</div>

<div class="card m-0 mt-4 pt-2">
    <h3 class="ps-3">Мы рекомендуем</h3>
    {% include "includes/list_items.html" %}
    <a class="btn text-center text-white rounded-2" style="background-color: rgb(57, 62, 70);" href="/catalog/">Еще предложения</a>
</div>

{% endblock content %}